@model WEBPROJE1.Models.Antrenor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Antrenor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UzmanlikAlani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UzmanlikAlani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
